{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}List{% endblock title %}

{% block content %}

<h1>{{pet.name}}</h1>
<h1>{{pet.age}}</h1>
<h1>{{pet.price}}</h1>
{% if pet.image %}
<img class="card-img-top" src="{{pet.image.url}}" alt="Hey Noob, look at me...">
{% endif %}
<div class="row text-center">
    <div class="col-md-6">
        <a href="{% url 'pet-update' pet.id %}" class="btn btn-dark btn-block">Update</a>
    </div>
    <div class="col-md-6">
        <a href="{% url 'pet-delete' pet.id %}" class="btn btn-outline-dark btn-block">Delete</a>
    </div>
</div>

{% endblock content %}
