{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}List{% endblock title %}

{% block content %}
<div class="row">
  {% for pet in pets %}
      <div  class=" col-12 col-sm-6 col-md-4">
          <div  style="background-color:#F77948 " class="card my-3">
            {% if pet.image %}
            <img class="card-img-top" src="{{pet.image.url}}" alt="">
            {% endif %}

          <div class="card-body" >
              <h5 class="card-title"> {{pet.name}}</h5>

              <a >
        <h1 class="card-text" >
          {{pet.price}}
          <small>
          
          </small>
        </h1>
      </a>
      <hr>
        </div>
        <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                  <a href="{% url 'pet-detail' pet.id %}" class="btn btn-outline-dark">View</a>
              </li>
            </ul>
          </div>
      </div>
  {% endfor %}


		  </div>








{% endblock content %}
